$blue: #3DA0E7;

#about {
    display: flex;
    flex-direction: column;
    background-color: white;
    // padding: 1vw 7vw 1vw 7vw;
    margin-top: 60px;
}

#about .page-title .header-underline {
    font-weight: 600;
    font-size: calc(20px + 1.5vw);
    text-transform: uppercase;
    margin-top: 4vh;
}

.about-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    // padding: 0vw 0px 0px 0px;
    padding: 1vw 7vw 1vw 7vw;
    column-gap: 20px;

}

.about-left {
    width: 40%;
    display: flex;
    justify-content: center;
    // padding: 1vw 6vw 0vw 0vw;
    padding-top: 5vh;
}
.about-right {
    width: 60%;
    padding: 3vw 6vw 6vw 0vw;
    background-color: white;
}
.about-right .subheading {
    font-weight: 600;
    font-size: calc(20px + 1vw);
    margin-bottom: 3vh;
    text-transform: uppercase;
}

.page-title h1 {
    font-size: calc(20px + 1vw);
}

.page-title .subheading {
    margin: 0px;
    font-size: calc(20px + 1vw);
}

.about-left .pfp-img {
    width: 100%;
}

.about-right p {
    font-size: calc(14px + 0.2vw);
    padding-top: 3vh;
}

.contact-info {
    margin-top: 4vw;
}

.about-footer .contact-info h4 {
    display: flex;
    column-gap: 10px;
    font-size: calc(14px + 0.2vw);
}

.contact-info svg {
    color: $blue;
}

@media only screen and (max-width: 800px) {

    .about-content {
        flex-direction: column;
        justify-content: center;
        row-gap: 3vw;
    }
    
    .about-left, .about-right {
        width: 100%;
    }

    .page-title h1 {
        font-size: calc(30px + 0.5vw);
    }
    .page-title .subheading {
        font-size: calc(25px + 0.5vw);
    }

    .pfp-img {
        display: flex;
        justify-content: center;
    }
    .pfp-img img {
        width: 80%;
    }

}