$blue: #3DA0E7;
$blue2: #2a87ca;

#home {
    background-color: white;
    min-height: 90vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-left {
    width: 60%;
    padding: 7vw;
    
    display: flex;
    flex-direction: column;
}

.welcome-header h1, .welcome-header h2, .welcome-header h4 {
    margin: 0px;
    margin-left: 10px;
}

.welcome-header h1 {
    font-size: 6vw;
    font-weight: 550;
}

.welcome-header h2 {
    font-size: 4vw;
    font-weight: normal;
}

.welcome-header h4 {
    font-size: 2.5vw;
    font-weight: normal;
    width: fit-content;
}

.welcome-body p {
    font-size: calc(14px + 0.1vw);
}

.header-underline::after {
    content: "";
    display: block;
    width: 90px;
    padding-top: 3px;
    border-bottom: 6px solid $blue;
}

.welcome-body {
    padding: 10px;
}

.welcome-footer button {
    font-size: 20px;
    text-transform: capitalize;
    margin: 1%;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 1px;
    border-style: solid;
    width: fit-content;
}

#learn-btn {
    background-color: $blue;
    color: white;

}
#learn-btn:hover {
    background-color: $blue2;
    font-weight: 550;
}

#splash-contact-btn {
    border-color: $blue;
    color: $blue;
}
#splash-contact-btn:hover {
    font-weight: 550;
}


.home-right {
    width: 50%;
    padding-top: 7vw;
    display: flex;
    justify-content: flex-end;
    // align-items: center;
}

.pfp-img {
    // background-color: rgb(198, 198, 198);
    height: fit-content;
    width: 100%;
    border-radius: 158px 0px 0px 0px;
}

.pfp-img img {
    width: 100%;
    border-radius: 158px 0px 0px 0px;
}

@media only screen and (max-width: 599px) {

    #home {
        flex-direction: column;
        justify-content: center;
    }
    
    .home-left, .home-right {
        width: 100%;
    }

    .welcome-header h1 {
        font-size: 65px;
    }
    .welcome-header h2 {
        font-size: 44px;
    }
    .welcome-header h4 {
        font-size: 22px;
    }

    .welcome-body p {
        font-size: 14px;
    }

    .welcome-footer button {
        width: fit-content;
    }

    .pfp-img {
        display: flex;
        justify-content: flex-end;
    }
    .pfp-img img {
        width: 90%;
    }

}